* {
  border: none;
  border-radius: 0;
  font-family: "Mononoki Nerd Font";
  font-weight: 600;
  font-size: 16px;
  min-height: 0;
  color: #ffffff;
}

window#waybar {
  background: rgba(40, 40, 40, 0.85);
  border: none;
  color: #dddddd;
}

tooltip {
  background: rgba(40, 40, 40, 0.85);
  border: 2px solid #d65d0e;
  border-radius: 0px;
  padding: 10px;
  color: #ffffff;
}

#custom-keyboard,
#custom-uptime,
#custom-wireguard,
#cpu,
#mpris,
#custom-temp,
#custom-mem,
#clock,
#custom-date,
#custom-wttrINT,
#custom-wttrNL,
#custom-wrk,
#tray,
#custom-notification,
#battery,
#pulseaudio,
#network,
#bluetooth {
  opacity: 1;
  color: #ffffff;
  padding: 0px 5px;
}

#battery.critical {
  color: #ff0000; /* Red under 15% */
}

#battery.warning {
  color: #ffaa00; /* Orange under 30% */
}

#battery.charging {
  color: #00ff00; /* Green when charging */
}

#battery.full {
  color: #00ff00;
}
